In [1]:

#enter subject name
#teacher - and slots for tht subject 
#select slots 
#entered data #removed from av_tble

In [2]:
import psycopg2

In [3]:
conn = psycopg2.connect("host='localhost' port='5432' dbname='sumiran' user='postgres' password='SUMIran'")
cur = conn.cursor()
subject=dict()

In [4]:
cur.execute("select * from subject_table")
d2 = cur.fetchall()
#print(d2)

for i in range (0 ,len(d2)):
    subject[d2[i][0]]= d2[i][1]
print('press enter to select subject')   
subject_code = input(subject)

press enter to select subject
{'1': 'physics', '2': 'chemistry', '3': 'maths', '4': 'english', '5': 'hindi', '6': 'arts'}3

In [5]:
cur.execute("select * from av2 where subject_id = %s" ,str(subject_code))
d3 = cur.fetchall()
for n in range (0,len(d3)):
    print( n, d3[n])
slot_number = input('select the slot number for the slot')

0 ('21', '3', datetime.time(14, 0), datetime.time(15, 0), 'Monday', '18')
1 ('21', '3', datetime.time(11, 0), datetime.time(12, 0), 'Tuesday', '19')
2 ('21', '3', datetime.time(11, 0), datetime.time(12, 0), 'Wednesday', '20')
3 ('21', '3', datetime.time(12, 0), datetime.time(13, 0), 'Wednesday', '21')
4 ('21', '3', datetime.time(13, 0), datetime.time(14, 0), 'Wednesday', '22')
select the slot number for the slot2

In [6]:
stc = d3[2][5]
print(stc)
cur.execute("DELETE FROM av2 WHERE status = %s", (stc,))
conn.commit()

20