In [1]:
#task is to update from excel sheets slot and days into ew teacher slot table where 
#we will be haing only teachers key not subject id , subject name will reurn teacher id and that id will be added

In [2]:
#teacher_id returns subject name 
#>>teacher_id>subject_id>subject_name ;
#teacher_id has assingened day and slot ;
#we have to add subject to it and add to the sql table;
#break the slot using time ddelta
#take teacher id and subject id from teachers name

In [5]:
#finding subject name from subject id 


import psycopg2
import csv
conn = psycopg2.connect("host='localhost' port='5432' dbname='postgres' user='postgres' password='SUMIran'")
cur = conn.cursor()

data1 = dict()  

def subject_name(subject_code):
    
    with open('slot_table.csv', 'r') as f:
        reader = csv.reader(f)
        next(reader) # Skip the header row.
        for row in reader:
            #saving batch table as dict

                    cur.execute("select * from subject_table")
                    datum1 = cur.fetchall()

    print(datum1)               

    for i in range (0 ,len(datum1)):
        data1[datum1[i][0]]= datum1[i][1]
    print(data1)
    
subject_name(data1[ subject_code])

NameError: name 'subject_code' is not defined

In [ ]:
#assign subject id to teacher id by given teacher name
#take subject name first from csv 
import psycopg2
import csv
conn = psycopg2.connect("host='localhost' port='5432' dbname='postgres' user='postgres' password='SUMIran'")
cur = conn.cursor()
data2 = dict()

def subject_id():
      
    cur.execute("select * from teacher_data1")
    datum2 = cur.fetchall()
    print(datum2)
    for i in range (0 ,len(datum)):
        data2[datum2[i][1]]= datum2[i][0]
    print(data2)
    with open('slot_table.csv', 'r') as f:
        reader = csv.reader(f)
        next(reader) # Skip the header row.
        for row in reader:
            print(row)
            rown = row[0]
            try:
                data2[rown] = n
            except:
                pass
            return n
             
subject_id(n)
        
        
        
#

In [7]:
import psycopg2
import csv
conn = psycopg2.connect("host='localhost' port='5432' dbname='postgres' user='postgres' password='SUMIran'")
cur = conn.cursor()
data2 = dict()
data3=dict()
cur.execute("select * from teacher_data1")
datum2 = cur.fetchall()
print(datum2)
for i in range (0 ,len(datum2)):
    data2[datum2[i][1]]= datum2[i][2]
    data3[datum2[i][1]]= datum2[i][0]
print(data2)
print(data3)
with open('slot_table.csv', 'r') as f:
    reader = csv.reader(f)
    next(reader) # Skip the header row.
    for row in reader:
        rown = row[0]
        print(rown)
        data2[rown]=n
        print(n)
        data3[rown]= m
        print(val)

[(1, 'Ronald Borland', '1'), (2, 'Aggie Dongate', '2'), (3, 'Adriano Caret', '3'), (4, 'Nathanil Tyson', '4'), (5, 'Kahlil Lomath', '5'), (6, 'Katina Milby', '6'), (19, 'Dov Houndson', '1'), (20, 'Carmine Farlane', '2'), (21, 'Albrecht McGregor', '3'), (22, 'Elinore Lille', '4'), (23, 'Robbie Wrathall', '5'), (24, 'Prinz Srawley', '6'), (25, 'Gillian Fearick', '1'), (7, 'Rodolfo De Giovanni', '2'), (9, 'Gannon Elph', '3'), (10, 'Genevieve Flaherty', '4'), (11, 'Wendeline Dikle', '5'), (12, 'Erina Towers', '6'), (13, 'Ronica Shuttle', '1'), (14, 'Ardeen Aspin', '2'), (15, 'Rudolph Buttle', '3'), (16, 'Dania Fittes', '4'), (17, 'Guinna Wornum', '5'), (18, 'Sayre Vonderdell', '6')]
{'Ronald Borland': '1', 'Aggie Dongate': '2', 'Adriano Caret': '3', 'Nathanil Tyson': '4', 'Kahlil Lomath': '5', 'Katina Milby': '6', 'Dov Houndson': '1', 'Carmine Farlane': '2', 'Albrecht McGregor': '3', 'Elinore Lille': '4', 'Robbie Wrathall': '5', 'Prinz Srawley': '6', 'Gillian Fearick': '1', 'Rodolfo De Giovanni': '2', 'Gannon Elph': '3', 'Genevieve Flaherty': '4', 'Wendeline Dikle': '5', 'Erina Towers': '6', 'Ronica Shuttle': '1', 'Ardeen Aspin': '2', 'Rudolph Buttle': '3', 'Dania Fittes': '4', 'Guinna Wornum': '5', 'Sayre Vonderdell': '6'}
{'Ronald Borland': 1, 'Aggie Dongate': 2, 'Adriano Caret': 3, 'Nathanil Tyson': 4, 'Kahlil Lomath': 5, 'Katina Milby': 6, 'Dov Houndson': 19, 'Carmine Farlane': 20, 'Albrecht McGregor': 21, 'Elinore Lille': 22, 'Robbie Wrathall': 23, 'Prinz Srawley': 24, 'Gillian Fearick': 25, 'Rodolfo De Giovanni': 7, 'Gannon Elph': 9, 'Genevieve Flaherty': 10, 'Wendeline Dikle': 11, 'Erina Towers': 12, 'Ronica Shuttle': 13, 'Ardeen Aspin': 14, 'Rudolph Buttle': 15, 'Dania Fittes': 16, 'Guinna Wornum': 17, 'Sayre Vonderdell': 18}
Carmine Farlane

NameError: name 'n' is not defined